{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="ftco-section">
	      <div class="container mt-5">
	      	<div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Blog</span>
              <h2>Yet Another Programmer Blog</h2>
            </div>
            <pre>echo $THOUGHTS > 'my thoughts'<br>cat my\ thoughts > my\ ramblings > my\ code >> /dev/null</pre>
          </div>
	        <div class="row">

            {% for blog in blogs %}
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry">
	              <a href="/blog/{{ blog.slug }}" class="block-20" style="background-image: url({{ blog.image_thumbnail.image.url }});">
	              </a>
	              <div class="text p-4 d-block">
	                <div class="meta mb-3">
	                  <div><a href="#">{{ blog.created_on.date }}</a></div>
	                </div>
	                <h3 class="heading"><a href="/blog/{{ blog.slug }}">{{ blog.title }}</a></h3>
	              </div>
	            </div>
			  </div>
			{% endfor %}
            
	        </div>
	        <div class="row mt-5">
	          <div class="col text-center">
	            <div class="block-27">
	              <ul>
                  {% if pages.prev %}
                  <li><a href="/blog/{{pages.prev}}">&lt;</a></li>
                  {% endif %}
                  {% for page in pages.list %}
                    {% if page == pages.page %}
                    <li class="active"><span>{{page}}</span></li>
                    {% else %}
                    <li><a href="/blog/{{page}}">{{page}}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if pages.next %}
                  <li><a href="/blog/{{pages.next}}">&gt;</a></li>
                  {% endif %}
                </ul>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
      
{% endblock %}