{% extends 'base.html' %}
{% load static %}
{% block content %}
    
      <section class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a href="#" class="scroll">Hello! I'm</a></p>
                <h1 class="mb-3 word-break" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Abijith Radhakrishnan</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a href="#" class="scroll">I speak</a></p>
                <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">C, C++, Python, Java</h1>
                <p><a href="#" class="scroll">and occasionally English and Malayalam.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p><a href="#" class="scroll">I'm currently pursuing my Master's degree in Computer Science at</a></p>
                <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">University of Amsterdam</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END slider -->

      <section class="ftco-section about-section">
        <div class="container">
          <div class="row d-flex" data-scrollax-parent="true">
            <div class="col-md-4 author-img" style="background-image: url({% static 'images/about.jpg' %});" data-scrollax=" properties: { translateY: '-70%'}"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6 wrap ftco-animate">
              <div class="about-desc">
                <h1 class="bold-text">About</h1>
                <div class="p-5">
                  <h2 class="mb-5">A little bit about me</h2>
                  <p>I hit my keyboard all night long and snore through the day.</p>
                  <p>My .bashrc file has an awful lot of lines in it and stack overflow is the most visited website in my browser.</p>
                  <p>The easiest way to grab my attention is to mention anything in the array ["Pyspark", "HDFS", "Python", "Django", "Harry Potter",...]</p>
                  <p>Possibly, you would have figured me out by now.</p>
                  <p><a href="#">Checkout my work</a></p>
                  <ul class="ftco-footer-social list-unstyled mt-4">
                    <li><a href="https://github.com/abijithanikkuruthi" target="_blank"><span class="icon-github"></span></a></li>
                    <li><a href="#" target="_blank"><span class="icon-linkedin"></span></a></li>
                  </ul>
                  <p>Email: <a href="mailto:abijith@abijith.net">abijith@abijith.net</a></p>
                  <p>Phone: <a href="tel://+31645428315" target="_blank">(+31) 6454 28315</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>What I do</span>
              <h2>My services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-layers"></span></div>
                <div class="media-body">
                  <h3 class="heading">Large Scale Data Engineering</h3>
                  <p class="pad-lr-10">Implementing Python and Scala programs for big data frameworks like Apache Spark and Hadoop</p>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-gears"></span></div>
                <div class="media-body">
                  <h3 class="heading">Software Developer</h3>
                  <p class="pad-lr-10">Programming C, C++, Python and Java applications</p>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-code"></span></div>
                <div class="media-body">
                  <h3 class="heading">Web Developer</h3>
                  <p class="pad-lr-10">Full stack web application development</p>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Portfolio</span>
              <h2>Checkout a few of my works</h2>
            </div>
          </div>
          <div class="row no-gutters">
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{% static 'resources/Thesis.pdf' %}" target="_blank" class="image d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-1.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text">
              <h4 class="subheading">Hadoop MapReduce</h4>
              <h2 class="heading"><a href="{% static 'resources/Thesis.pdf' %}" target="_blank">On parallelizing graph theoretical approaches for identifying
                causal genes and pathways from very large biological networks</a></h2>
              <p>In this work, Hadoop's distributed storage system has been used to store the molecular
                interaction network. Graph parallel processing techniques of
                Hadoop MapReduce, in conjunction with graph theoretical
                approaches have been utilized to improve the accuracy of
                detecting causal genes and execution time on benchmark data.</p>
              <p><a href="{% static 'resources/Thesis.pdf' %}" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-2.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text order-1">
              <h4 class="subheading">Linux System</h4>
              <h2 class="heading"><a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank">Custom linux OS developed on Linux kernel 4.15.3</a></h2>
              <p>Nirvana OS is developed by building all components of a basic linux operating system manually. This is, naturally, a longer process than installing a pre-compiled Linux distribution.
                The advantages to this method are a compact, flexible and secure system and a greater understanding of the internal workings of the Linux-based operating systems.</p>
              <p><a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/abijithanikkuruthi/Large-Scale-Entity-Linking" target="_blank" class="image d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-3.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text">
              <h4 class="subheading">Apache Spark</h4>
              <h2 class="heading"><a href="https://github.com/abijithanikkuruthi/Large-Scale-Entity-Linking" target="_blank">Large Scale Entity Linking</a></h2>
              <p>A knowledge extraction engine which perform large scale entity linking on a given collection of web pages.
                This involves recognizing, extracting and linking relevant entities from Web pages to the Freebase Knowledge Base</p>
              <p><a href="https://github.com/abijithanikkuruthi/Large-Scale-Entity-Linking" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-4.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text order-1">
              <h4 class="subheading">Web Application</h4>
              <h2 class="heading"><a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank">Portfolio and Blogging Website</a></h2>
              <p>"abijith.net" is built using Python-based free and open-source web framework Django. Vanilla JS and jQuery is used to implement front-end. The whole website runs from a Raspberry Pi.</p>
              <p><a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank">View Project</a></p>
            </div>
          </div>
          </div>
        </div>
        </div>
      </section>
{% endblock %}