{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Portfolio</span>
              <h2>Checkout a few of my works</h2>
            </div>
          </div>
          <div class="row no-gutters">
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{% static 'resources/Thesis.pdf' %}" target="_blank" class="image d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-1.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text">
              <h4 class="subheading">Hadoop MapReduce</h4>
              <h2 class="heading"><a href="{% static 'resources/Thesis.pdf' %}" target="_blank">On parallelizing graph theoretical approaches for identifying
                causal genes and pathways from very large biological networks</a></h2>
              <p>In this work, Hadoop's distributed storage system has been used to store the molecular
                interaction network. Graph parallel processing techniques of
                Hadoop MapReduce, in conjunction with graph theoretical
                approaches have been utilized to improve the accuracy of
                detecting causal genes and execution time on benchmark data.</p>
              <p><a href="{% static 'resources/Thesis.pdf' %}" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-2.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text order-1">
              <h4 class="subheading">Linux System</h4>
              <h2 class="heading"><a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank">Custom linux OS developed on Linux kernel 4.15.3</a></h2>
              <p>Nirvana OS is developed by building all components of a basic linux operating system manually. This is, naturally, a longer process than installing a pre-compiled Linux distribution.
                The advantages to this method are a compact, flexible and secure system and a greater understanding of the internal workings of the Linux-based operating systems.</p>
              <p><a href="https://github.com/abijithanikkuruthi/NirvanaOS" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/WDPS-Team/Large-Scale-Entity-Linking" target="_blank" class="image d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-3.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text">
              <h4 class="subheading">Apache Spark</h4>
              <h2 class="heading"><a href="https://github.com/WDPS-Team/Large-Scale-Entity-Linking" target="_blank">Large Scale Entity Linking</a></h2>
              <p>A knowledge extraction engine which perform large scale entity linking on a given collection of web pages.
                This involves recognizing, extracting and linking relevant entities from Web pages to the Freebase Knowledge Base</p>
              <p><a href="https://github.com/WDPS-Team/Large-Scale-Entity-Linking" target="_blank">View Project</a></p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-4.jpg' %}); " data-scrollax=" properties: { translateY: '-30%'}">
              <div class="icon d-flex text-center justify-content-center align-items-center">
                <span class="icon-search"></span>
              </div>
            </a>
            <div class="text order-1">
              <h4 class="subheading">Web Application</h4>
              <h2 class="heading"><a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank">Portfolio and Blogging Website</a></h2>
              <p>"abijith.net" is built using Python-based free and open-source web framework Django. Vanilla JS and jQuery is used to implement front-end. The whole website runs from a Raspberry Pi.</p>
              <p><a href="https://github.com/abijithanikkuruthi/website-django-public" target="_blank">View Project</a></p>
            </div>
          </div>
          </div>
        </div>
        </div>
      </section>

{% endblock %}