{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="ftco-section about-section">
        <div class="container">
			<div class="row d-flex" data-scrollax-parent="true">
				<div class="col-md-4 author-img" style="background-image: url({% static 'images/about.jpg' %});" data-scrollax=" properties: { translateY: '-70%'}"></div>
				<div class="col-md-2"></div>
				<div class="col-md-6 wrap ftco-animate">
					<div class="about-desc">
					  <h1 class="bold-text">About</h1>
					  <div class="p-5">
						<h2 class="mb-5">A little bit about me</h2>
						<p>When I was a kid I used to break every device in my house that has a green chip inside it. Now, I break programs and code.</p>
						<p><a href="#">Checkout my work</a></p>
						<ul class="ftco-footer-social list-unstyled mt-4">
						  <li><a href="https://github.com/abijithanikkuruthi" target="_blank"><span class="icon-github"></span></a></li>
						  <li><a href="https://www.linkedin.com/in/abijithradhakrishnan/" target="_blank"><span class="icon-linkedin"></span></a></li>
						</ul>
						<p>Email: <a href="mailto:abijith@abijith.net">abijith@abijith.net</a></p>
						<p>Phone: <a href="tel://+31645428315" target="_blank">(+31) 6454 28315</a></p>
					  </div>
					</div>
				  </div>
			  </div>
          <div class="row d-flex justify-content-end mt-5">
          	<div class="col-md-10">
          		<div class="profile ftco-animate">
	          		<h2 class="mb-4 pad-top-20">Profile</h2>
	          		<h4 class="mb-4">I'm a Computer Engineer and Web Developer who aim to make a difference with my creative solutions.</h4>
	          		<p>I have a BTech degree in Computer Science & Engineering and is currently pursuing my Master's degree in Big Data Engineering. I also have more than 2 years of experience in web application development. I am always looking for new ventures where I can apply my expertise, learn and evolve.</p>
	          		<div class="row my-5">
		          		<div class="col-md-12">
		          			<p><strong>Name:</strong> <span>Abijith Radhakrishnan</span></p>
		          			<p><strong>Location:</strong> <span>Amsterdam, Netherlands</span></p>
							<p><strong>Email:</strong> <span>abijith@abijith.net</span></p>
							<p><strong>Phone:</strong> <span>(+31) 6454 28315</span></p>
		          		</div>
		          	</div>
          		</div>

          		<div class="exp mt-5 ftco-animate">
          			<h2 class="mb-4">Experience</h2>
          			<div class="exp-wrap py-4">
          				<div class="desc">
	          				<h4>Developer<span> - Zoho Corporation</span> </h4>
	          				<p class="location">Chennai, India</p>
          				</div>
          				<div class="year">
          					<p>2016 - 2018</p>
          				</div>
          			</div>

          			<!-- <div class="exp-wrap py-4">
          				<div class="desc">
	          				<h4>Front-End Developer <span> - Big Comany</span> </h4>
	          				<p class="location">Germany - Berlin</p>
          				</div>
          				<div class="year">
          					<p>2012 - 2014</p>
          				</div>
          			</div> -->
          		</div>


          		<div class="exp mt-5 ftco-animate">
          			<h2 class="mb-4">Education</h2>
          			<div class="exp-wrap py-4">
          				<div class="desc">
	          				<h4>Master of Science in Big Data Engineering<span> - University of Amsterdam</span> </h4>
	          				<p class="location">Amsterdam, Netherlands</p>
          				</div>
          				<div class="year">
          					<p>2019 - Present</p>
          				</div>
          			</div>

          			<div class="exp-wrap py-4">
          				<div class="desc">
	          				<h4>Bachelor of Technology in Computer Science<span> - National Institute of Technology</span> </h4>
	          				<p class="location">Calicut, India</p>
          				</div>
          				<div class="year">
          					<p>2012 - 2016</p>
          				</div>
          			</div>
          		</div>
          	</div>
          </div>
          <div class="row mt-5 flex-column ftco-animate">
          	<div class="col-md-8">
          		<h2 class="mb-4">My Skills</h2>
          	</div>
          	<div class="col-md-6 animate-box">
								<div class="progress-wrap">
									<h4>C/C++</h4>
									<div class="progress">
									 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
									  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
									    <span>75%</span>
									  	</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
								<div class="progress-wrap">
									<h4>Java</h4>
									<div class="progress">
									 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="60"
									  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
									    <span>60%</span>
									  	</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap">
									<h4>Python</h4>
									<div class="progress">
									 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="85"
									  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
									    <span>85%</span>
									  	</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
								<div class="progress-wrap">
									<h4>HTML/CSS/Javascript</h4>
									<div class="progress">
									 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
									  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
									    <span>90%</span>
									  	</div>
									</div>
								</div>
							</div>
          </div>
        </div>
	  </section>
{% endblock %}