{% extends 'base.html' %}
{% load static %}
{% block content %}

      <section class="ftco-section">
        <div class="container mt-5">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>What I do</span>
              <h2>My services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-layers"></span></div>
                <div class="media-body">
                  <h3 class="heading">Large Scale Data Engineering</h3>
                  <p class="pad-lr-10">Implementing Python and Scala programs for big data frameworks like Apache Spark and Hadoop</p>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-gears"></span></div>
                <div class="media-body">
                  <h3 class="heading">Software Developer</h3>
                  <p class="pad-lr-10">Programming C, C++, Python and Java applications</p>
                </div>
              </div>      
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services p-3 py-4 d-block text-center">
                <div class="icon mb-3"><span class="icon-code"></span></div>
                <div class="media-body">
                  <h3 class="heading">Web Developer</h3>
                  <p class="pad-lr-10">Full stack web application development</p>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </section>
{% endblock %}